* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #666;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    min-width: 250px;
    height: 200px;
    background-color: tomato;
    margin-left: -130px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 12px  0px 32px -12px black ;
    border-radius: 14px;
    transition: all 0.4s ease-in-out; 
    cursor: pointer;
}

div:hover {
    transform: translateX(-140px);
}
